Package: com.yourname.wheedownloader
Name: WheeDownloader
Depends: mobilesubstrate (>= 0.9.5000)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Universal Media Downloader for Whee & TikTok
Maintainer: YourName
Author: YourName
Section: Tweaks
